@media screen and (max-width : 714px) {
    h3{
        font-size:20px;
    }
    .proposition_container span{
        font-size: 20px;
       
    }
}
@media screen and (max-width : 569px) {
    h3{
        font-size:15px;
        flex-wrap: wrap;
        text-align: center;
    }
}
@media screen and (max-width : 365px) {
     .proposition_container span{
        font-size: 15px;
       
    }
}