@media screen and (max-width : 714px) {
    h3{
        font-size:20px;
    }
    .proposition_container span{
        font-size: 20px;
       
    }
    h2{
        font-size: 15px;
    }
}
@media screen and (max-width : 569px) {
    h3{
        font-size:15px;
        flex-wrap: wrap;
        text-align: center;
        
    }
    .proposition_container span{
        width: 15em;
        margin: 0.3em;
    }
}
@media screen and (max-width : 365px) {
     .proposition_container span{
        font-size: 12px;
       
    }
    h3{
        font-size: 12px;
        
    }
    h2{
        font-size: 10px;
    }
}

