@media screen and (max-width : 714px) {
    h3{
        font-size:15px;
    }
    .proposition_container span{
        font-size: 15px;
       
    }
}
@media screen and (max-width : 569px) {
    h3{
        font-size:10px;
        flex-wrap: wrap;
    }
}