*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(85, 111, 102);
    height: 100vh;
}

h3{
    margin: 0 0.5em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
span{
    color: white;
}

.proposition_container{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.proposition_container span{
    width: 20em;
    height: 3em;
    padding: 0.7em 2em;
    border: 2px ridge black;
    font-size: 20px;
    margin:  0.6em;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.407);
    border-radius: 10px;
    cursor: pointer;
}
.proposition_container span:hover{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.644); 
    transform: scale(0.98);
}
.proposition_container span b{
    margin-right: 0.6em;
    border: 1px solid black;
    border-radius: 20px 50px 0px;
    padding: 0.2em;
    background-color: black;
}
h2{
    color: white;
    opacity: 0;
    transform: translateX(100px);
}

.even_h2{
    opacity: 1;
    transform: translateX(0);
    transition: 1s;
}
